body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.container {
    display: flex;
    width: 100%;
}

.half {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}
.left {
    background-color: #f8f9fa;
}
.right {
    background-color: #adb5bd;
}
