<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>online.caltuli.webapp.servlet.gui.Home</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>online.caltuli.webapp.servlet.gui.Registration</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>online.caltuli.webapp.servlet.gui.Authentication</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>online.caltuli.webapp.servlet.gui.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Error</servlet-name>
    <servlet-class>online.caltuli.webapp.servlet.gui.Error</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxUserActivities</servlet-name>
    <servlet-class>online.caltuli.webapp.servlet.api.UserActivities</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WhoAmI</servlet-name>
    <servlet-class>online.caltuli.webapp.servlet.api.WhoAmI</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HowIsMyGame</servlet-name>
    <servlet-class>online.caltuli.webapp.servlet.api.HowIsMyGame</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/authentication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxUserActivities</servlet-name>
    <url-pattern>/user-activities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WhoAmI</servlet-name>
    <url-pattern>/who-am-i</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HowIsMyGame</servlet-name>
    <url-pattern>/how-is-my-game</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>httpsRedirectFilter</filter-name>
    <filter-class>online.caltuli.webapp.filter.HttpsRedirectFilter</filter-class>
  </filter>
  <filter>
    <filter-name>SessionCheckFilter</filter-name>
    <filter-class>online.caltuli.webapp.filter.SessionCheckFilter</filter-class>
  </filter>
  <filter>
    <filter-name>IPCheckFilter</filter-name>
    <filter-class>online.caltuli.webapp.filter.IPCheckFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>httpsRedirectFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionCheckFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>IPCheckFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
  </listener>
</web-app>
